<h2>ASP.NET 8 MVC Test Page</h2>

<p>@ViewBag.Message</p>

<ul>
    <li>.NET Version: @System.Environment.Version</li>
    <li>Server Time: @DateTime.Now</li>
</ul>

<p><a href="/Home/Contact">Test Form</a></p>
<p><a href="/Home/DbTest">Test Database</a></p>
